@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;800&family=Karla:ital,wght@0,400;0,500;1,400&family=Staatliches&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
}

.App {
  display: block;
}

.App .main--row {
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .main--row .row--title {
  text-align: left;
  margin: .5rem 2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  color: white;
  margin-right: auto;
}

.App .main--row .row--posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.App .main--row .row--posters .row--poster {
  -webkit-transition: .5s;
  transition: .5s;
  padding: .8rem;
}

.App .main--row .row--posters .row--poster img {
  height: 34vh;
  width: 18vw;
}

.App .main--row .row--posters .row--poster--large img {
  height: 60vh;
  width: 30vw;
}

.App .main--row .row--posters .row--poster:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  opacity: .8;
  cursor: pointer;
}

.App .main--row .row--posters::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.banner {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  z-index: 0;
  width: 100vw;
}

.banner:hover {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.banner--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  opacity: 0;
  justify-content: center;
  color: white;
  font-family: 'Bebas Neue';
  height: 78vh;
  text-shadow: 1px 1px 8px black;
  -webkit-transition: 1s;
  transition: 1s;
}

.banner--content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3rem;
  margin: 0 1rem;
}

.banner--content:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  justify-content: center;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 6rem;
  height: 78vh;
  text-shadow: 1px 1px 8px black;
  -webkit-transition: 1s;
  transition: 1s;
}

.banner--overview {
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  margin: 0 8rem;
}

.banner--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70vw;
}

.banner--buttons .banner--btn {
  width: 20vw;
  height: 7vh;
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  border: none;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.banner--buttons .banner--btn:hover {
  background-color: #dee1e1;
  background-color: white;
  color: black;
}

.banner--fade {
  height: 8rem;
  width: 100vw;
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(37, 37, 37, 0.61)), to(#111));
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.navbar {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  z-index: 1;
  background-color: transparent;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  position: fixed;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.navbar .netflix--logo {
  cursor: pointer;
  display: block;
  height: 10vh;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  z-index: 2;
  margin-left: 1rem;
}

.navbar .smiley--accnt {
  cursor: pointer;
  height: 5vh;
  width: 5vh;
  background: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png");
  margin: 1rem;
}

.nav_black {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (min-width: 0px) and (max-width: 550px) {
  .App .main--row .row--posters .row--poster img {
    height: 34vh;
    width: 36vw;
  }
  .App .main--row .row--posters .row--poster--large img {
    height: 60vh;
    width: 58vw;
  }
}

@media (min-width: 550px) and (max-width: 1000px) {
  .App .main--row .row--posters .row--poster img {
    height: 32vh;
    width: 37vw;
  }
  .App .main--row .row--posters .row--poster--large img {
    height: 60vh;
    width: 58vw;
  }
}
/*# sourceMappingURL=main.css.map */